build/
config/local.*
ci-scripts/
coverage/
src/
versions/
test/
.editorconfig
.gitattributes
.gitignore
.npmrc
.nvmrc
ci-build.sh
nvm.sh
xunit.xml
acceptance-tests/
reports/
alias/
bombbag/
ci-artifacts/
majora.log
browser_stack_tunnel.log
browser_stack_tunnel.pid
acceptance-tests/bin/
.tmp-globalize-webpack/
